<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hejiayuan.vocabulary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:configChanges="orientation|keyboardHidden"
        android:icon="@mipmap/vocabulary"
        android:label="乐享单词"
        android:roundIcon="@mipmap/vocabulary"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.DictAvtivity" />

        <service
            android:name=".service.ClockService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activities.ClockActivity" />

        <service
            android:name=".service.StartClockService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>